# ~/aliases - 40's bash shell aliases and functions
#    sourced from ~/.bashrc

# ===============================
# Navigation
# ===============================

alias .='cd .'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

# ===============================
# Shell utilities
# ===============================

alias clr='clear'
alias bashclear='history -c && history -w'

alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -lah'
alias lls='ls -la --sort=size'
alias llt='ls -la --sort=time'

alias rm='rm -iv'

alias tree='tree --dirsfirst -F'

# networking
alias ports='lsof -i -P -n'
alias myip='curl -s ifconfig.me'

# ===============================
# Git
# ===============================

alias gs='git status -sb'
alias gaa='git add --all'
alias ga='git add'
alias gb='git branch'

alias gcc='git checkout'
alias gcm='git checkout main'

gc() { git commit -m "$*"; } 

alias gp='git push'
alias gpo='git push origin'
alias gpl='git pull'

alias clone='git clone'
alias stash='git stash'
alias pop='git stash pop'

alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gm='git merge'

# ===============================
# Command alerts
# ===============================

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
